<div class='col-xs-2 col-helper'>
    <div class='title_sec text-center'>
        Chans
    </div>
    <div class='chan_list'>
        <ul>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>
            <li> general </li>

        </ul>
    </div>
    <div class='user_logged title_sec'>
        @<%= current_user.username %>
        <%= link_to fa_icon("sign-out", class: "logout_action"), destroy_user_session_path, :method => :delete %>
    </div>
</div>
<div class='col-xs-10 col-separator'>
</div>
