<div class='col-xs-2 col-helper'>
    <div class='title_sec text-center'>
        Chans
    </div>
    <div class='chan_list' data-target="api-list"> </div>

    <div class='create_chan'>
        <form method="post" name="js-api" action="/api/rooms/" data-success-callback="chat_displayRoomsList">
            <input type="hidden" value="<%=current_user.api_token%>" name="token">
            <div class='col-xs-9'>
                <input name="title" type='text' class='form-control' placeholder="Channel name">
            </div>
            <div class='col-xs-3'>
                <input type='submit' value='OK' class='btn btn-default'>
            </div>
        </form>
    </div>
    <div class='user_logged title_sec'>
        @<%= current_user.username %>
        <%= link_to fa_icon("sign-out", class: "logout_action"), destroy_user_session_path, :method => :delete %>
    </div>
</div>
<div class='col-xs-10 col-separator'>
</div>
